*{
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url(../5.\ Build\ Survey\ Form/images/first-ascent-climbing.webp);
  font-family: sans-serif;
  
}

h1, p {
  text-align: center;
}

h1, h2, p {
  padding: 20px;
}
form {
  border: none;
  padding: 2rem 0

}

label {
  display: block;
  margin: 1rem 0
}
/* 
h1 {
  margin: 0;
} */