@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.navbar-brand-image{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

body {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(/images/climbing-wall-2.jpeg) left/cover no-repeat fixed; 
  /*start on left side, cover whole window, no repeat, fixed picture*/
  font-family: sans-serif;
  margin: 0;
}

.logo {
  width: 80%;
  /* justify-content: center; */
  display: block;
  border: none;
  padding: none;
  margin: -10px auto -30px;
}

h1 {
  font-size: 30px;
}
label {
  font-size: 15px;
}

h1, p {
  text-align: center
}
.survey{
  width: 80%;
  background-color: rgba(255,255,255,0.85);
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  max-width: 800px;
}

form {
  border: none;
  padding: 2rem 0;
  margin: -25px auto;
  font-size: medium;
}

fieldset {
  padding: -10px;
  margin-top: 5px;
}
legend {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

textarea {
  /* display:inline-block; */
  font-size: 15px;
  font-family: sans-serif;
  width: 100%;
  height: 150px;
}
label {
  display: block;
  margin: 1rem 0
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.5rem;
  background-color: #e8e8f1;
  border-color: white;
  min-width: 300px;
}

input[type="checkbox"]{
  width: 15px;
  height: 15px;
  margin-right: 2em;
  cursor: pointer;
  vertical-align: sub;
}

input, select{
  margin:3px auto;
  width: 25%;
  min-height: 2.2em;
  vertical-align: middle;
}

.copyright {
  font-size: 1rem;
  margin: 0em auto;
}
